@using BlackHoleCMS.Views.Shared
@model BlackHoleCMS.ViewModels.ViewPostTopic
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Home Page";
}

<div class="section">
    <h2>Raksti</h2>
    <p class="section-paragraph">Melnie caurumi ir unikāls fizikas fenomens, kura izpētē tiek iztērēti milzīgi līdzekļi. Lasi jaunākos un interesantākos rakstus šeit.</p>
</div>
<div class="container gy-5 my-4 justify-content-center">
    <div class="row gy-4">
        @foreach (var post in Model.Posts)
        {
            <div class="col-12 col-md-6 col-lg-4 col-xl-4 col-xl-3 col-sm-6">
                @(await Html.RenderComponentAsync<_PostCard>(RenderMode.WebAssemblyPrerendered, new
                {
                    Id = post.Id,
                    Content = post.Content,
                    Title = post.Title,
                    Photo = post.Photo
                }))
            </div>
        }
    </div>
</div>

<div class="section">
    <h2>Tēmas</h2>
    <p class="section-paragraph">Lasi rakstus pa tēmām un uzzini daudz jauna. </p>
</div>
<div class="container">
    <div class="row">
        @foreach (var topic in Model.Topics)
        {
            <div class="col-6 col-md-4 col-lg-4 col-xl-4 col-xxl-3 col-sm-6 align-self-baseline justify-content-center">
                <a asp-controller="Home" asp-action="Topic" asp-route-id="@topic.Id" style="text-decoration: none">
                    @(await Html.RenderComponentAsync<_TopicCard>(RenderMode.WebAssemblyPrerendered, new
                    {
                        Name = topic.Name,
                        Photo = topic.Photo?.File
                    }))
                </a>
            </div>
        }
    </div>

</div>




