<div class="topic-container topic-color">
  
        <div class="topic-image">
            <_Image Photo="Photo"/>
        </div>


    <p>@Name</p>



</div>
@code {
    [Parameter] public string Name { get; set; }
    [Parameter] public byte[] Photo { get; set; }
}