@model BlackHoleCMS.Models.Status

@{
    ViewData["Title"] = "Dzēšana";
}

<h1>Dzēšana</h1>

<h3>Vai tiešām dzēst šo statusu?</h3>
<div>
    <h4>Statuss</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Dzēst" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
