@model BlackHoleCMS.Models.Topic

@{
    ViewData["Title"] = "Dzēst";
}

<h1>Dzēst</h1>

<h3>Vai tiešām dzēst tēmu?</h3>
<div>
    <h4>Tēma</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Dzēst" class="btn btn-danger" /> |
        <a asp-action="Index">atpakaļ uz sarakstu</a>
    </form>
</div>
